# 强制 GitHub 将本项目的语言标签显示为 Ruby
* linguist-language=Ruby

# Ruby 源文件
*.rb linguist-language=Ruby

*.sh linguist-language=Shell

# 给Ruby凑个数
*.txt linguist-language=Ruby

# Markdown 文档同上
*.md linguist-language=Ruby

# 忽略临时文件和编辑器备份
*.swp linguist-generated
*.swo linguist-generated
*~ linguist-generated
.DS_Store linguist-generated
